@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(/Fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(/Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Jost";
  font-weight: 700;
  src: url(/Fonts/Jost/Jost-Bold.ttf);
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url(/Fonts/Jost/);
}

:root {
  --blue: #2000e7;
  --secondary-blue: rgba(67, 186, 253, 0.06);
  --yellow: #ffd696;
  --orange: rgba(255, 214, 150, 0.2);
}

body {
  font-family: "Poppins";
}

.flex-item {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: baseline;
  padding: 45px 78px 201px 78px;
}

.title-name {
  margin: 0;
  font-size: 48px;
  color: #0e0578;
}

.nav-list {
  list-style: none;
  width: 60vw;
  justify-content: space-around;
}

.nav-item {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #686565;
}

a {
  text-decoration: none;
}

.first-section {
  justify-content: space-between;
  padding: 0 78px 162px 78px;
}

.intro {
  flex-basis: 40vw;
  overflow: hidden;
  white-space: normal;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  color: var(--blue);
}

h1,
h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--blue);
}

p {
  font-size: 24px;
  font-weight: 400;
}

.yellow {
  color: #f2bd00;
}

.first-section_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.white {
  background-color: white;
  color: var(--blue);
}

.rounded-button {
  width: 246px;
  height: 72px;
  border-radius: 10px;
  font-size: 24px;
  border: #2000e7 solid 2px;
  box-shadow: 11px 21px 15px 6px #00000040;
  margin: 0 30px 10px 0;
}

.second-section {
  padding: 0 78px 301px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-blue);
}

.spaced {
  letter-spacing: 0.35em;
}

.about-me {
  flex-basis: 25vw;
  flex-direction: column;
}

.about-me h2 {
  margin: 14px 0;
}

.about-me p {
  margin: 0 0 35px 0;
}

.about-me button {
  align-self: center;
}

.third-section {
  background-color: var(--orange);
  padding: 65px;
  margin-bottom: 272px;
}

.section-header {
  flex-direction: column;
  align-items: center;
}

.section-header h2,
p {
  margin: 10px;
}

.images {
  margin-top: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 46px;
}

.row {
  justify-content: space-around;
}

.forth-section {
  background-color: var(--secondary-blue);
  padding: 0 78px 208px 78px;
}

.forth-section_subcontainer {
  align-items: center;
  position: relative;
}

.inputs {
  padding-top: 150px;
  width: 45vw;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 12vh;
  align-items: center;
  z-index: 1;
}

.input {
  height: 94px;
  font-size: 32px;
  width: 100%;
  border: none;
  box-shadow: 8px 20px 3px 6px #00000050;
}

.input::placeholder {
  color: black;
}

.inputs textarea {
  height: 30vh;
  width: 100%;
  box-shadow: 8px 20px 3px 6px #00000050;
}

.squared-button {
  height: 94px;
  width: 327px;
  border: none;
  background-color: white;
  font-size: 32px;
  box-shadow: 8px 20px 3px 6px #00000050;
}

.image-container {
  left: 37vw;
  position: absolute;
  overflow: hidden;
}

footer {
  padding: 132px 78px 58px 78px;
  background-color: var(--orange);
  font-family: "Jost";
}

.above-line {
  justify-content: space-between;
  height: 603px;
}

footer a {
  color: black;
  font-size: 31px;
}

.title-and-buttons {
  flex-direction: column;
  row-gap: 50px;
}

.merged-buttons {
  position: relative;
}

.black-button {
  width: 323px;
  height: 97px;
  border-radius: 20px;
  font-size: 24px;
  font-size: 31px;
  font-family: "Jost";
  font-weight: 700;
  text-align: left;
  background-color: black;
  color: white;
  padding-left: 30px;
}

.pink-button {
  width: 178px;
  height: 97px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 24px;
  font-size: 31px;
  font-family: "Jost";
  font-weight: 700;
  text-align: left;
  background: #f965fc;
  border: none;
  color: white;
  position: absolute;
  left: 205px;
  z-index: 1;
}

.column-flex {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.bold {
  font-weight: 700;
}

hr {
  border: 2px solid black;
}

.below-line {
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.copyright p {
  font-size: 32px;
}

.logos {
  justify-content: space-between;
  column-gap: 85px;
}

/*У yotube кривой svg поэтому так */
.youtube {
  position: relative;
  top: 25px;
}
